{{ 'style.css' | asset_url | stylesheet_tag }}

<div style = "display:flex;justify-content:space-around;">
  {% for field in shop.metafields.inventer %}
       
       {% assign title = field | last | split: "," %}
       {% assign col = title[4] %}
       <div style = "display:flex;flex-direction:column;" class = "grid-item-{{col}}"> 
       <img src = "{{title[0]}}" width = "600" height = "400" style = "width:100%;height:200px;" />
        <h3 style = "margin-block-end:0px;font-weight:700;">{{title[2]}}</h3>
  <h3>{{title[3]}}</h3>
  <h3>{{title[4]}}</h3>
  </div>  
       {% comment %}  {% for t in title %}
        <h1>{{t}}</h1> <p>break<p>
         {% endfor %}
        {% endcomment %}
    
       
{% endfor %}
  </div>

{% schema %}
{
  "name": "t:blocks.product-reviews.name",
  "templates": ["index"],
  "target": "section",
  "settings": [
    {
      "type": "color",
      "id": "stars_fill_color",
      "label": "t:blocks.product-reviews.settings.stars_fill_color.label",
      "default": "#000000"
    },
    {
      "type": "number",
      "id": "star_size",
      "label": "t:blocks.product-reviews.settings.star_size.label",
      "default": 24
    },
    {
      "type": "number",
      "id": "padding_x",
      "label": "t:blocks.product-reviews.settings.padding_x.label",
      "default": 50
    },
    {
      "type": "number",
      "id": "padding_y",
      "label": "t:blocks.product-reviews.settings.padding_y.label",
      "default": 0
    },
    {
      "id": "heading",
      "type": "text",
      "label": "t:blocks.product-reviews.settings.heading.label",
      "default": "Customer Reviews"
    },
	  {
      "id": "no_reviews_action_text",
      "type": "text",
      "label": "t:blocks.product-reviews.settings.no_reviews_action_text.label",
      "default": "Be the first to review this product."
    },
	  {
      "id": "existing_reviews_action_text",
      "type": "text",
      "label": "t:blocks.product-reviews.settings.existing_reviews_action_text.label",
      "default": "Write Review"
    },
    {
      "id": "allow_unverified_reviews",
      "type": "checkbox",
      "label": "t:blocks.product-reviews.settings.allow_unverified_reviews.label",
      "default": false
    },
    {
      "id": "product",
      "type": "product",
      "label": "t:blocks.product-reviews.settings.product.label",
      "autofill": true
    }
  ]
}
{% endschema %}
